/** @format */

.container {
  width: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.container > label {
  font-weight: 700;
  color: #7950f2;
}

.input {
  font-weight: 700;
  color: #868e96;
  text-transform: capitalize;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  margin-top: 0.5rem;
  border-color: #7950f2;
}

.input_ok {
  border-color: #7950f2;
}

.input_error {
  border-color: #f03e3e;
}
